# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [1]:
import numpy as np
import pandas as pd
Iris = pd.read_csv('Iris.csv')
Iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find out the datatypes of each and every column

In [2]:
Iris.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [3]:
Iris.head(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [4]:
Iris.tail(10)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find the shape of the dataset

In [5]:
Iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [6]:
Iris.index = Iris['Sepal Length (in cm)']

In [7]:
Iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,,
5.1,5.1,3.5,1.4,0.2,Iris-setosa
4.9,4.9,3.0,1.4,0.2,Iris-setosa
4.7,4.7,3.2,1.3,0.2,Iris-setosa
4.6,4.6,3.1,1.5,0.2,Iris-setosa
5.0,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
6.7,6.7,3.0,5.2,2.3,Iris-virginica
6.3,6.3,2.5,5.0,1.9,Iris-virginica
6.5,6.5,3.0,5.2,2.0,Iris-virginica
6.2,6.2,3.4,5.4,2.3,Iris-virginica
5.9,5.9,3.0,5.1,1.8,Iris-virginica

### Use iloc function to print all the rows of the 3rd column

In [8]:
Iris.iloc[:,2:3]

                      Petal length (in cm)
Sepal Length (in cm)
5.1                                    1.4
4.9                                    1.4
4.7                                    1.3
4.6                                    1.5
5.0                                    1.4
...                                    ...
6.7                                    5.2
6.3                                    5.0
6.5                                    5.2
6.2                                    5.4
5.9                                    5.1

[150 rows x 1 columns]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [9]:
Iris.iloc[:10,:2]

                      Sepal Length (in cm)  Sepal Width in (cm)
Sepal Length (in cm)
5.1                                    5.1                  3.5
4.9                                    4.9                  3.0
4.7                                    4.7                  3.2
4.6                                    4.6                  3.1
5.0                                    5.0                  3.6
5.4                                    5.4                  3.9
4.6                                    4.6                  3.4
5.0                                    5.0                  3.4
4.4                                    4.4                  2.9
4.9                                    4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [10]:
Iris[Iris['Class'] == "Iris-setosa"]

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,,
5.1,5.1,3.5,1.4,0.2,Iris-setosa
4.9,4.9,3.0,1.4,0.2,Iris-setosa
4.7,4.7,3.2,1.3,0.2,Iris-setosa
4.6,4.6,3.1,1.5,0.2,Iris-setosa
5.0,5.0,3.6,1.4,0.2,Iris-setosa
5.4,5.4,3.9,1.7,0.4,Iris-setosa
4.6,4.6,3.4,1.4,0.3,Iris-setosa
5.0,5.0,3.4,1.5,0.2,Iris-setosa
4.4,4.4,2.9,1.4,0.2,Iris-setosa
4.9,4.9,3.1,1.5,0.1,Iris-setosa
5.4,5.4,3.7,1.5,0.2,Iris-setosa
4.8,4.8,3.4,1.6,0.2,Iris-setosa
4.8,4.8,3.0,1.4,0.1,Iris-setosa
4.3,4.3,3.0,1.1,0.1,Iris-setosa
5.8,5.8,4.0,1.2,0.2,Iris-setosa
5.7,5.7,4.4,1.5,0.4,Iris-setosa
5.4,5.4,3.9,1.3,0.4,Iris-setosa
5.1,5.1,3.5,1.4,0.3,Iris-setosa
5.7,5.7,3.8,1.7,0.3,Iris-setosa
5.1,5.1,3.8,1.5,0.3,Iris-setosa
5.4,5.4,3.4,1.7,0.2,Iris-setosa
5.1,5.1,3.7,1.5,0.4,Iris-setosa
4.6,4.6,3.6,1.0,0.2,Iris-setosa
5.1,5.1,3.3,1.7,0.5,Iris-setosa
4.8,4.8,3.4,1.9,0.2,Iris-setosa
5.0,5.0,3.0,1.6,0.2,Iris-setosa
5.0,5.0,3.4,1.6,0.4,Iris-setosa
5.2,5.2,3.5,1.5,0.2,Iris-setosa
5.2,5.2,3.4,1.4,0.2,Iris-setosa
4.7,4.7,3.2,1.6,0.2,Iris-setosa
4.8,4.8,3.1,1.6,0.2,Iris-setosa
5.4,5.4,3.4,1.5,0.4,Iris-setosa
5.2,5.2,4.1,1.5,0.1,Iris-setosa
5.5,5.5,4.2,1.4,0.2,Iris-setosa
4.9,4.9,3.1,1.5,0.1,Iris-setosa
5.0,5.0,3.2,1.2,0.2,Iris-setosa
5.5,5.5,3.5,1.3,0.2,Iris-setosa
4.9,4.9,3.1,1.5,0.1,Iris-setosa
4.4,4.4,3.0,1.3,0.2,Iris-setosa
5.1,5.1,3.4,1.5,0.2,Iris-setosa
5.0,5.0,3.5,1.3,0.3,Iris-setosa
4.5,4.5,2.3,1.3,0.3,Iris-setosa
4.4,4.4,3.2,1.3,0.2,Iris-setosa
5.0,5.0,3.5,1.6,0.6,Iris-setosa
5.1,5.1,3.8,1.9,0.4,Iris-setosa
4.8,4.8,3.0,1.4,0.3,Iris-setosa
5.1,5.1,3.8,1.6,0.2,Iris-setosa
4.6,4.6,3.2,1.4,0.2,Iris-setosa
5.3,5.3,3.7,1.5,0.2,Iris-setosa
5.0,5.0,3.3,1.4,0.2,Iris-setosa

In [11]:
Iris[Iris['Class'] == "Iris-setosa"].count()
# for cross-checking if code in above cell is returning all 50 records or not

Sepal Length (in cm)    50
Sepal Width in (cm)     50
Petal length (in cm)    50
Petal width (in cm)     50
Class                   50
dtype: int64

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [12]:
Iris['SepalExtra'] = Iris['Sepal Length (in cm)']*Iris['Sepal Width in (cm)']

In [13]:
Iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
Sepal Length (in cm),,,,,,
5.1,5.1,3.5,1.4,0.2,Iris-setosa,17.85
4.9,4.9,3.0,1.4,0.2,Iris-setosa,14.70
4.7,4.7,3.2,1.3,0.2,Iris-setosa,15.04
4.6,4.6,3.1,1.5,0.2,Iris-setosa,14.26
5.0,5.0,3.6,1.4,0.2,Iris-setosa,18.00
...,...,...,...,...,...,...
6.7,6.7,3.0,5.2,2.3,Iris-virginica,20.10
6.3,6.3,2.5,5.0,1.9,Iris-virginica,15.75
6.5,6.5,3.0,5.2,2.0,Iris-virginica,19.50
6.2,6.2,3.4,5.4,2.3,Iris-virginica,21.08
5.9,5.9,3.0,5.1,1.8,Iris-virginica,17.70

### Find out the mean and variance for each column but for class column

In [14]:
Iris.drop('Class',axis=1).mean()

Sepal Length (in cm)     5.843333
Sepal Width in (cm)      3.054000
Petal length (in cm)     3.758667
Petal width (in cm)      1.198667
SepalExtra              17.806533
dtype: float64

In [15]:
Iris.drop('Class',axis=1).var()

Sepal Length (in cm)     0.685694
Sepal Width in (cm)      0.188004
Petal length (in cm)     3.113179
Petal width (in cm)      0.582414
SepalExtra              11.348090
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [37]:
def printf(a,b):
    print("The Sepal Length is :",float(a),"\nThe Sepal Width is :",float(b))
x = Iris.iloc[4:5,0]
y = Iris.iloc[4:5,1]
printf(x,y)

The Sepal Length is : 5.0
The Sepal Width is : 3.6

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [17]:
Iris.drop('Class',axis=1).max() - Iris.drop('Class',axis=1).min()

Sepal Length (in cm)     3.60
Sepal Width in (cm)      2.40
Petal length (in cm)     5.90
Petal width (in cm)      2.40
SepalExtra              20.02
dtype: float64

### Sort the entire dataset according to the column Petal width

In [18]:
Iris.sort_values(by="Petal width (in cm)",axis=0)

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
Sepal Length (in cm),,,,,,
5.2,5.2,4.1,1.5,0.1,Iris-setosa,21.32
4.3,4.3,3.0,1.1,0.1,Iris-setosa,12.90
4.9,4.9,3.1,1.5,0.1,Iris-setosa,15.19
4.9,4.9,3.1,1.5,0.1,Iris-setosa,15.19
4.8,4.8,3.0,1.4,0.1,Iris-setosa,14.40
...,...,...,...,...,...,...
6.7,6.7,3.1,5.6,2.4,Iris-virginica,20.77
5.8,5.8,2.8,5.1,2.4,Iris-virginica,16.24
6.3,6.3,3.3,6.0,2.5,Iris-virginica,20.79
6.7,6.7,3.3,5.7,2.5,Iris-virginica,22.11
7.2,7.2,3.6,6.1,2.5,Iris-virginica,25.92

### Remove the new column "SepalExtra" from the dataframe

In [19]:
del Iris['SepalExtra']
Iris

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,,
5.1,5.1,3.5,1.4,0.2,Iris-setosa
4.9,4.9,3.0,1.4,0.2,Iris-setosa
4.7,4.7,3.2,1.3,0.2,Iris-setosa
4.6,4.6,3.1,1.5,0.2,Iris-setosa
5.0,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
6.7,6.7,3.0,5.2,2.3,Iris-virginica
6.3,6.3,2.5,5.0,1.9,Iris-virginica
6.5,6.5,3.0,5.2,2.0,Iris-virginica
6.2,6.2,3.4,5.4,2.3,Iris-virginica
5.9,5.9,3.0,5.1,1.8,Iris-virginica

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [20]:
IrisSubset = Iris.iloc[:10,:3]

In [21]:
IrisSubset

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm)
Sepal Length (in cm),,,
5.1,5.1,3.5,1.4
4.9,4.9,3.0,1.4
4.7,4.7,3.2,1.3
4.6,4.6,3.1,1.5
5.0,5.0,3.6,1.4
5.4,5.4,3.9,1.7
4.6,4.6,3.4,1.4
5.0,5.0,3.4,1.5
4.4,4.4,2.9,1.4
4.9,4.9,3.1,1.5

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [22]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [23]:
import pandas as pd
dataset = pd.read_csv("HR.txt",delimiter="\t")
dataset

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
1,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
2,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
3,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
4,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Ind1466,No,36,2,884,2,23,2,2,1,...,3,80,1,17,3,3,5,2,0,3
1466,Ind1467,No,39,1,613,2,6,1,2,1,...,1,80,1,9,5,3,7,7,1,7
1467,Ind1468,No,27,1,155,2,4,3,1,1,...,2,80,1,6,0,3,6,2,0,3
1468,Ind1469,No,49,2,1023,1,2,3,2,1,...,4,80,0,17,3,2,9,6,0,8
1469,Ind1470,No,34,1,628,2,8,3,2,1,...,1,80,0,6,3,4,4,3,1,2

### Print the no of rows and columns in the dataset

In [24]:
dataset.shape[0]
# rows

1470

In [25]:
dataset.shape[1]
# columns

35

### Find out the type of each and every column in the dataset

In [26]:
dataset.dtypes

Individual                  object
Attrition                   object
Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                   int64
DistanceFromHome             int64
Education                    int64
EducationField               int64
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                       int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                      int64
JobSatisfaction              int64
MaritalStatus                int64
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                     int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Print out all the rows from 3rd column to 10th columns

In [27]:
dataset.iloc[:,2:10]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount
0,41,1,1102,1,1,2,1,1
1,49,2,279,2,8,1,1,1
2,37,1,1373,2,2,2,6,1
3,33,2,1392,2,3,4,1,1
4,27,1,591,2,2,1,2,1
...,...,...,...,...,...,...,...,...
1465,36,2,884,2,23,2,2,1
1466,39,1,613,2,6,1,2,1
1467,27,1,155,2,4,3,1,1
1468,49,2,1023,1,2,3,2,1
1469,34,1,628,2,8,3,2,1

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [28]:
men = dataset[dataset['Gender']==1].count()
women = dataset[dataset['Gender']==2].count()

In [29]:
print("The number of men is:",men['Gender'])
print("The number of women is:",women['Gender'])

The number of men is: 882
The number of women is: 588

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [30]:
dataset['Age'].quantile(0.75)-dataset['Age'].quantile(0.25)

13.0

### Find out the mean, median and variance for the column - DailyRate

In [31]:
dataset['DailyRate'].mean()

802.4857142857143

In [32]:
dataset['DailyRate'].median()

802.0

In [33]:
dataset['DailyRate'].var()

162819.59373723628